{% extends "base.html" %}

{% block title %}Categories{% endblock title %}

{% block h1 %}All Categories{% endblock h1 %}
{% block p1 %}Your looking deep to this project, nice!{% endblock p1 %}

{% block content %}

<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

      {% for cat in categories %}
        <div class="col mb-5">
          <div class="card h-100">
              <div class="card-body p-4">
                  <div class="text-center">
                      <h5 class="fw-bolder">{{ cat.category }}</h5>
                  </div>
              </div>
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <div class="text-center"><a class="btn btn-outline-dark mt-auto fw-custom" href="{{ cat.get_absolute_url }}">More Detail</a></div>
              </div>
          </div>
        </div>
      {% endfor %}

    </div>
</div>

{% endblock content %}