{% extends "base.html" %}



{% comment %} {% block h1 %}{% endblock h1 %}

{% block p1 %}{% endblock p1 %} {% endcomment %}

{% block title %}{{task.title}}{% endblock title %}


{% block content %}
<section class="container-fluid py-5">
    <div class="container-lg">
        
        <section class="py-5">
            <div class="container">
              <div class="row gx-5 row justify-content-center">


                <main class="col-lg-6">
                  <div class="ps-lg-3">

                    <!-- TITLE -->
                    <h4 class="title text-dark fw-custom">{{ task.title }}</h4>
                    {% comment %} <div class="d-flex flex-row my-3">

                      <span class="text-muted fw-custom"><i class="fas fa-shopping-basket fa-sm mx-1"></i>154 Student</span>
                      <span class="text-muted ms-2 fw-custom">have bought</span>
                    </div> {% endcomment %}
          
                    <div class="mb-3">
                      <span class="h5 fw-custom"><a class="text-secondary" href={{ task.category.get_absolute_url }}>{{ task.category.category }}</a></span>
                    </div>
                    
                    <!-- DESCRIPTION -->
                    <p class="fw-custom">
                        {{ task.description }}
                    </p>
                    
                    <!-- MORE INFO -->
                    <div class="row">
                      <dt class="col-3 fw-custom">Owner:</dt>
                      <dd class="col-9 fw-custom text-muted">{{ task.user.username }}</dd>

                      <dt class="col-3 fw-custom">Status:</dt>
                      
                      {% if task.due_date|date:"Y-m-d" < timezone.now|date:"Y-m-d" and task.status == "I" %}
                        <dd class="col-9 fw-custom text-muted">Failed ...</dd>
                      {% else  %}
                        <dd class="col-9 fw-custom text-muted">{{ task.get_status_display }}</dd>
                      {% endif %}
          
                      <dt class="col-3 fw-custom">Due Date:</dt>
                      <dd class="col-9 fw-custom text-muted">{{ task.due_date|date:"Y-m-d" }}</dd>
          
                      <dt class="col-3 fw-custom">Tags:</dt>
                      <dd class="col-9 fw-custom text-muted">
                        {% for tag in task.tags.all %}
                            <a class="text-secondary" href="{{ tag.get_absolute_url }}">{{ tag.tag }}</a>,
                        {% endfor %}
                      </dd>
                    </div>
          
                    <hr />
                    
                    <!-- BUTTONS -->
                    <a href="{{ task.delete_task_url }}" class="btn btn-secondary my-1"> <i class="bi bi-trash"></i> Delete </a>
                    
                    {% if task.status == "I" %}
                        <a href="{{ task.complete_task_url }}" class="btn btn-secondary my-1"> <i class="bi bi-check-circle"></i> Complete </a>
                    {% else %}
                    <a href="#" class="btn btn-secondary my-1 disabled"> <i class="bi bi-check-circle" disabled></i> Complete </a>
                    {% endif %}

                  </div>
                </main>

              </div>
            </div>
        </section>

    </div>
</section>
{% endblock content %}

